version: "3.4"

services:
  saleor:
    image: saleor:1.0.0
    ports:
      - 8000:8000
    depends_on:
      - db
      - redis
    volumes:
      - ..:/app

  db:
    image: library/postgres:15-alpine
    ports:
      - 5432:5432
    restart: unless-stopped
    volumes:
      - saleor-db:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=saleor
      - POSTGRES_PASSWORD=saleor

  redis:
    image: library/redis:7.0-alpine
    restart: unless-stopped
    volumes:
      - saleor-redis:/data
    ports:
      - 6379:6379

  mailpit:
    image: axllent/mailpit
    ports:
      - 1025:1025 # SMTP Server
      - 8025:8025 # Mailpit UI
    restart: unless-stopped

volumes:
  saleor-db:
    driver: local
  saleor-redis:
    driver: local
